/*-- scss:defaults --*/
// Light mode navbar colors
$navbar-bg: #EADBDD;
$navbar-fg: #212529;

// Other light mode customizations
$body-bg: #ffffff;
$body-color: #212529;
$link-color: #0d6efd;

/*-- scss:rules --*/
.navbar {
  background-color: $navbar-bg !important;
  
  .navbar-brand, .nav-link {
    color: $navbar-fg !important;
  }
}